In [1]:
from pyspark.sql import SparkSession

In [5]:
spark= SparkSession.builder.appName("Rdd-Demoo").getOrCreate()

How to create rdds

In [6]:
numbers=[1,2,3,4,5]
rdd=spark.sparkContext.parallelize(numbers)

In [7]:
rdd.collect() #show rdd

[1, 2, 3, 4, 5]

In [8]:
data=[('rahul',23),('ritesh',28)]
rdd=spark.sparkContext.parallelize(data)

In [9]:
rdd.collect()

[('rahul', 23), ('ritesh', 28)]

In [11]:
print("all element rdd:",rdd.collect())

all element rdd: [('rahul', 23), ('ritesh', 28)]

RDDs Operatios Actions

In [13]:
count=rdd.count()
print(count)

2

In [14]:
#first elements
first_elements=rdd.first()
print(first_elements)

('rahul', 23)

In [15]:
#retrive the n elements of rdd
take_elements=rdd.take(2)
print(take_elements)

[('rahul', 23), ('ritesh', 28)]

In [23]:
# Foreach action: Print each element of the RDD
rdd.foreach(lambda x: print(x))

In [19]:
rdd.collect()

[('rahul', 23), ('ritesh', 28)]

In [24]:
#rdd operations transformations

In [25]:
#mapped transoformations name to  uppercase
mapped_rdd=rdd.map(lambda x: (x[0].upper(),x[1]))

In [26]:
result=mapped_rdd.collect()

In [27]:
print(result)

[('RAHUL', 23), ('RITESH', 28)]

In [33]:
# Filter transformation: Filter records where age is greater than 30
filter_rdd=rdd.filter(lambda x: x[1]>20)

In [34]:
filter_rdd.collect()

[('rahul', 23), ('ritesh', 28)]

In [37]:
#calculate total age
total_age=rdd.reduceByKey(lambda x,y: x + y)
total_age.collect()

[('rahul', 23), ('ritesh', 28)]

In [38]:
# SortBy transformation: Sort the RDD by age in descending order
sort_rdd=rdd.sortBy(lambda x: x[1], ascending=False)
sort_rdd.collect()

[('ritesh', 28), ('rahul', 23)]

Save RDDs to text file and read RDDs from text file

In [39]:
rdd.saveAsTextFile("output_rdd")

In [40]:
rdd_text=spark.sparkContext.textFile("output_rdd")
rdd_text.collect()

["('rahul', 23)", "('ritesh', 28)"]

In [41]:
spark.stop()