generate the emp df and filter emo salary>50000 write the o/p in csv  format

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('emp').getOrCreate()

In [3]:
spark

In [5]:
emp_data= [
    ["001","102","jhon doe","30","Male","50000","2025-01-05"],
    ["002","102","jhon doe","30","Male","40000","2025-01-05"],
    ["003","102","jhon doe","30","Male","60000","2025-01-05"],
    ["004","102","jhon doe","30","Male","30000","2025-01-05"],
    ["005","102","jhon doe","30","Male","50000","2025-01-05"],
    ["006","102","jhon doe","30","Male","80000","2025-01-05"]
]

emp_schema = "empi_id string, dept_id string, emp_name string, emp_age string, emp_gender string, emp_salary string, emp_join_date string"

In [7]:
df=spark.createDataFrame(data=emp_data,schema=emp_schema)

In [8]:
df.rdd.getNumPartitions()

2

In [9]:
df.show()

+-------+-------+--------+-------+----------+----------+-------------+
|empi_id|dept_id|emp_name|emp_age|emp_gender|emp_salary|emp_join_date|
+-------+-------+--------+-------+----------+----------+-------------+
|    001|    102|jhon doe|     30|      Male|     50000|   2025-01-05|
|    002|    102|jhon doe|     30|      Male|     40000|   2025-01-05|
|    003|    102|jhon doe|     30|      Male|     60000|   2025-01-05|
|    004|    102|jhon doe|     30|      Male|     30000|   2025-01-05|
|    005|    102|jhon doe|     30|      Male|     50000|   2025-01-05|
|    006|    102|jhon doe|     30|      Male|     80000|   2025-01-05|
+-------+-------+--------+-------+----------+----------+-------------+

In [11]:
emp_final=df.where("emp_salary > 50000")

In [12]:
emp_final.show()

+-------+-------+--------+-------+----------+----------+-------------+
|empi_id|dept_id|emp_name|emp_age|emp_gender|emp_salary|emp_join_date|
+-------+-------+--------+-------+----------+----------+-------------+
|    003|    102|jhon doe|     30|      Male|     60000|   2025-01-05|
|    006|    102|jhon doe|     30|      Male|     80000|   2025-01-05|
+-------+-------+--------+-------+----------+----------+-------------+

In [13]:
emp_final=df.filter('emp_salary > 40000')

In [14]:
emp_final.show()

+-------+-------+--------+-------+----------+----------+-------------+
|empi_id|dept_id|emp_name|emp_age|emp_gender|emp_salary|emp_join_date|
+-------+-------+--------+-------+----------+----------+-------------+
|    001|    102|jhon doe|     30|      Male|     50000|   2025-01-05|
|    003|    102|jhon doe|     30|      Male|     60000|   2025-01-05|
|    005|    102|jhon doe|     30|      Male|     50000|   2025-01-05|
|    006|    102|jhon doe|     30|      Male|     80000|   2025-01-05|
+-------+-------+--------+-------+----------+----------+-------------+

In [15]:
emp_final.write.format('csv').save("/content/sample_data/emp.csv")