In [5]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName("psyaprkstarted").getOrCreate()

In [9]:
#test the setup
data=[('rahul',23),('ritesh',55)]
df=spark.createDataFrame(data)
df.show()

+------+---+
|    _1| _2|
+------+---+
| rahul| 23|
|ritesh| 55|
+------+---+

In [10]:
#test the setup
data=[('rahul',23),('ritesh',55)]
df=spark.createDataFrame(data,['name','age'])
df.show()

+------+---+
|  name|age|
+------+---+
| rahul| 23|
|ritesh| 55|
+------+---+

In [12]:
df.filter(df.age>30).show()

+------+---+
|  name|age|
+------+---+
|ritesh| 55|
+------+---+